.Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form {
    display: -ms-grid;
    display: grid;
    margin: 0;
    width: 433px;
    align-items: center;
}

.RegisterButtonText {
    font-family: 'Courier New', Courier, monospace;
}

.AuthFailedText {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}